<!doctype html>
<html lang="<%= lang || 'es' %>" ng-app="lantubeApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>
		<%- title %>
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<script src="javascripts/angular.min.js"></script>
	<script src="javascripts/angular-ui-router.min.js"></script>
	<script src="javascripts/angular-fontawesome.min.js"></script>
	
	<script src="angular-app/angularApp.js"></script>
	
	<!-- <script src="js/lantube.js"></script> -->
	<% if (ENV_DEVELOPMENT) { %>
		<script src="http://localhost:35729/livereload.js"></script>
	<% } %>
</head>

<body>