<!doctype html>
<html lang="<%= lang || 'es' %>" ng-app="lantubeApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>
		<%- title %>
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="/css/style.css">
	
	<!-- polyfill so EvevntSource is available in older browsers -->
	<script src="javascripts/eventsource.min.js"></script>
	
	<!-- angular.js -->
	<script src="javascripts/angular.min.js"></script>
	
	<!-- angular ui router -->
	<script src="javascripts/angular-ui-router.min.js"></script>
	
	<!-- angular Lantube app -->
	<script src="angular-app/angularApp.js"></script>
	
	<!-- font-awesome! -->
	<script src="javascripts/angular-fontawesome.min.js"></script>
	
	<% if (ENV_DEVELOPMENT) { %>
		<script src="http://localhost:35729/livereload.js"></script>
	<% } %>
</head>

<body>