	<% include header %>

	<div class="container-fluid" ng-controller="MainCtrl">
		<div class="row">
			<div class="col-md-1 col-sm-0">
				
			</div>
			<div class="col-md-10 col-sm-12">
				<div class="page-header">
					<h1>
						<fa name="youtube-play" aria-hidden="true" ng-style="{'color': logoColor}"></fa> <%- title %>
						<small>LAN Youtube player</small>
					</h1>
				</div>
			</div>
			<div class="col-md-1 col-sm-0">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-sm-0">
				
			</div>
			<div class="col-md-5 col-sm-12">
				<form class="form">
					<p>Append any Youtube video to the list</p>
					<div class="input-group">
						<input id="video" type="text" class="form-control" placeholder="Link del video de Youtube..." ng-model="videourl" value="" select-on-click>
						<span class="input-group-btn">
							<button id="agregar" class="btn btn-primary" type="button" ng-click="add(videourl, videos.length + 1)">Add</button>
						</span>
					</div><!-- /input-group -->
					<br>

					<div class="form-group"> 
						<label>{{videoModes.title}}</label>
						<div class="radio">
							<label>
								<input ng-model="videoModes.selected" type="radio" name="videoMode" value="{{videoModes.modes.fullscreen.toLowerCase().replace(' ', '-')}}">
								{{videoModes.modes.fullscreen}}
							</label>
						</div>
						<div class="radio">
							<label>
								<input ng-model="videoModes.selected" type="radio" name="videoMode" value="{{videoModes.modes.windowed.toLowerCase().replace(' ', '-')}}">
								{{videoModes.modes.windowed}}
							</label>
						</div>
						<div class="radio">
							<label>
								<input ng-model="videoModes.selected" type="radio" name="videoMode" value="{{videoModes.modes.noVideo.toLowerCase().replace(' ', '-')}}">
								{{videoModes.modes.noVideo}}
							</label>
						</div>
						
					</div>
					<br>
					<button ng-hide="showStop()" class="btn btn-success" type="button" name="play" ng-click="play('all', videoModes.selected)">
						<fa name="{{ isPlaying() != 0 ? 'circle-o-notch' : 'play' }}" alt="Loading" size="1" spin="{{ isPlaying() != 0 }}" ng-style="{'color': spinnerColor}"></fa> 
					</button> <span ng-hide="showStop()">{{playAllText()}}</span>
					<button ng-show="showStop()" class="btn btn-danger" type="button" ng-click="stop()">
						<fa name="stop" alt="Stop" size="1" ng-style="{'color': spinnerColor}"></fa> 
					</button> <span ng-show="showStop()">{{stopText()}}</span>
					<br>
					<br>
					<div class="bg-success now-playing" ng-show="nowPlaying()" ng-style="{'color': playingColor}">
						<fa name="volume-up" alt="Playing..." size="1" ng-class="nowPlaying() && 'blink'" ng-style="{'color': speakerColor}"></fa>
						<b>Now playing:</b> {{ nowPlaying() }}
					</div>
				</form>
				<br>
			</div>
			<div class="col-md-6 col-sm-0">
				
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-md-1 col-sm-0">
				
			</div>
			<div class="col-md-10 col-sm-12">
			
			</div>
			<div class="col-md-1 col-sm-0">
				
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-1 col-sm-0">
				
			</div>
			<div class="col-md-10 col-sm-12">
				<table class="table table-striped lista-videos">
					<tr ng-repeat="video in videos | orderBy:'order'">
						<td class="orden">
							<div class="table-text">
								{{video.order}}
							</div>
						</td>
						<td>
							<button class="play btn-sm btn-danger" type="button" ng-click="play(video.order, videoModes.selected)">
								<fa ng-cloak="{{ isPlaying() == video.order }}" 
									name="{{ isPlaying() == video.order ? 'circle-o-notch' : 'play' }}" 
									spin="{{ isPlaying() == video.order }}" 
									size="1">
								</fa>
							</button>
						</td>
						<td class="titulo">
							<div class="table-text">
								{{video.title}}
							</div>
						</td>
						<td class="url">
							<div class="table-text">
								{{video.url}}
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-1 col-sm-0">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				
			</div>
			<div class="col-md-10">
			</div>
			<div class="col-md-1">
				
			</div>
		</div>
	</div>
	

	<% include footer %>