	<% include header %>

	<div class="container-fluid" ng-controller="MainCtrl">
		<div class="row">
			<div class="col-md-1 col-sm-0">
				
			</div>
			<div class="col-md-10 col-sm-12">
				<h1><%- title %></h1>
				<p>
                    Agregar un video de Youtube a la lista <br>
                </p>
			</div>
			<div class="col-md-1 col-sm-0">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-sm-0">
				
			</div>
			<div class="col-md-10 col-sm-12">
				<form class="form">
					<div class="input-group">
						<input id="video" type="text" class="form-control" placeholder="Link del video de Youtube..." ng-model="videourl" value="" select-on-click>
						<span class="input-group-btn">
							<button id="agregar" class="btn btn-default" type="button" ng-click="add(videourl, videos.length + 1)">Agregar</button>
						</span>
					</div><!-- /input-group -->
					<hr>
					<button ng-hide="showStop()" class="btn btn-success" type="button" name="play" ng-click="play(0)">
						<fa name="{{ isPlaying() != 0 ? 'circle-o-notch' : 'play' }}" alt="Loading" size="1" spin="{{ isPlaying() != 0 }}" ng-style="{'color': spinnerColor}"></fa> 
						{{playAllText()}}
					</button>
					<button ng-show="showStop()" class="btn btn-danger" type="button" ng-click="stop()">
						<fa name="stop" alt="Stop" size="1" ng-style="{'color': spinnerColor}"></fa> 
						{{stopText()}}
					</button>
				</form>
			</div>
			<div class="col-md-1 col-sm-0">
				
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-md-1 col-sm-0">
				
			</div>
			<div class="col-md-10 col-sm-12">
				<hr>
			</div>
			<div class="col-md-1 col-sm-0">
				
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-1 col-sm-0">
				
			</div>
			<div class="col-md-10 col-sm-12">
				<table class="table table-striped lista-videos">
					<tr ng-repeat="video in videos | orderBy:'order'">
						<td class="orden">{{video.order}}</td>
						<td>
							<button class="play btn-xs btn-warning" type="button">
								<fa ng-cloak="{{ isPlaying() == video.order }}" 
									name="{{ isPlaying() == video.order ? 'circle-o-notch' : 'play' }}" 
									spin="{{ isPlaying() == video.order }}" 
									ng-click="play(video.order)" 
									size="1">
								</fa>
							</button>
						</td>
						<td class="tiulo">{{video.title}}</td>
						<td class="url">{{video.url}}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-1 col-sm-0">
				
			</div>
		</div>
	</div>
	

	<% include footer %>